.header {
  background-color: #282c34;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  padding: 0.5rem;
}

.outer-wrapper {
  width: 90%;
  margin: 2rem auto;
  border: 5px solid lightblue;
}

.main-title {
  text-align: center;
  margin: 1.5rem;
  /* border: 1px solid pink; */
}

.tables-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  text-align: center;
  margin-bottom: 6rem;
}

.table-caption {
  padding: 0.7rem;
  font-size: 1.5rem;
  color: white;
  font-weight: bolder;
  background-color: rgb(129, 178, 180);
  font-family: 'Noto Serif', serif;
  letter-spacing: 0.5px;
  font-size: 2rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.table {
  width: 60%;
  border: 1px solid lightblue;
  margin-bottom: 1rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgb(201, 201, 224) 0px 4px 5px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.table-heading {
  padding: 0.5rem;
  margin: 0;
  width: 40%;
  background-color: whitesmoke;
  border: 1px solid darkgray
}

.table-row-n {
  padding: 0.5rem;
}

.table-row-s {
  padding: 0.5rem;
  font-family: 'Roboto Mono', monospace;
}

.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #282c34;
  color: white;
  padding: 1rem;
  font-weight: bold;
}

.list {
  list-style: none;
}
