.header {
  background-color: #282c34;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  padding: 0.5rem;
  display: flex;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  width: 4.1rem;
  height: 4.1rem;
}

.header-title-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
 

.outer-wrapper {
  width: 90%;
  margin: 2rem auto;
  border: 5px solid lightblue;
}

.main-title {
  text-align: center;
  margin: 1.5rem;
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
}

.tables-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  text-align: center;
  margin-bottom: 6rem;
}

.table-caption {
  padding: 0.7rem;
  font-size: 1.5rem;
  color: white;
  font-weight: bolder;
  background-color:  #282c34;
  font-family: 'Noto Serif', serif;
  letter-spacing: 0.5px;
  font-size: 2rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.table {
  width: 60%;
  border: 1px solid lightblue;
  margin-bottom: 1rem;
  background-color: white;
  border: 1px solid #282c34;
}

.table-heading {
  padding: 0.5rem;
  margin: 0;
  width: 40%;
  background-color: whitesmoke;
  border: 1px solid darkgray
}

.table-row-n {
  padding: 0.5rem;
}

.table-row-s {
  padding: 0.5rem;
  font-family: 'Roboto Mono', monospace;
}

.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #282c34;
  color: white;
  padding: 1rem;
  font-weight: bold;
}

.list {
  list-style: none;
}
